@import url("https://fonts.googleapis.com/css2?family=Klee+One&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Serif+TC&family=PT+Serif&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sedan:ital@0;1&family=Zen+Old+Mincho&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ede9e3;
}

.top {
  width: 100%;
  height: 5dvh;
  background-color: #e7d7c9;
  display: flex;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Noto Serif TC", serif;
  font-weight: 200;
  &:hover {
    color: #a38f85;
  }
}

a#home {
  position: absolute;
  left: 20px;
}
a#hope {
  position: absolute;
  right: 240px;
}
a#books {
  position: absolute;
  right: 172px;
}
a#personal {
  position: absolute;
  right: 86px;
}
a#contact {
  position: absolute;
  right: 5px;
}
span#line1 {
  position: absolute;
  right: 229px;
}
span#line2 {
  position: absolute;
  right: 158px;
}
span#line3 {
  position: absolute;
  right: 75px;
}

.breadCrumb {
  width: 100%;
  height: 15dvh;
  border: 1px solid black;
  position: relative;
  nav {
    position: absolute;
    top: 27%;
    left: 12%;
    font-size: 14px;
    font-family: "Zen Old Mincho", serif;
  }
}
.middleArea {
  display: flex;
}
.allBookIndex {
  width: 17%;
  height: 114dvh;
  background-color: rgb(254, 250, 245);
}
.dataBook {
  width: 80%;
  height: 100dvh;
  border: 1px solid blue;
  display: flex;
}
.photoBook {
  width: 40%;
  height: 100%;
  border: 1px solid black;
  position: relative;
}
#carouselExampleControlsNoTouching {
  width: 77%;
  height: 63%;
  border: 1px solid black;
  position: absolute;
  top: 3%;
  left: 8%;
}
.preview {
  width: 77%;
  height: 20%;
  border: 1px solid black;
  position: absolute;
  bottom: 9%;
  left: 8%;
  display: flex;
  justify-content: space-between;
}
.bookph {
  width: 30%;
  height: 100%;
  border: 1px solid black;
}
.author {
  width: 50%;
  height: 80%;
  border: 1px solid black;
  position: relative;
}
p {
  font-family: "Zen Old Mincho", serif;
  margin-bottom: 0rem;
}
.bookline {
  width: 100%;
  height: 18px;
  margin-top: 19px;
  border-top: 1px solid #b2b2b2;
}
.author button {
  border-radius: 0px;
  background: #a38f85;
  border: 0px;
  position: absolute;
  width: 12%;
  height: 6%;
  text-align: center;
  padding-top: 0px;
  :active {
    border-color: #e7d7c9;
  }
}
.card-body {
  padding-top: 0;
  border-radius: 0px;
  font-family: "Zen Old Mincho";
}
.iconArea {
  width: 82%;
  height: 8%;
  position: absolute;
  bottom: 4%;
  left: 7%;
}
i {
  font-size: 25px;
  position: absolute;
  color: #786a64;
}
#changebutton {
  position: absolute;
  bottom: 10%;
  right: 10%;
  background-color: transparent;
  border-bottom: 2px solid #786a64;
  :hover{
    background-color: #786a64;
  }
}

.commentsArea{
    width: 100%;
    height: 50dvh;
    border: 1px solid black;
}
.whoComment{
    width: 30%;
    height: 30%;
    border: 1px solid black;
}
.footer {
  width: 100%;
  height: 10dvh;
  background-color: #786a64;
}
